@{
	ViewBag.Title = "PaymentRecord";
	Layout = "~/Views/Shared/_ContentLayout_V4.cshtml";
}
@model FMS.Model.T_RecPayRecord
<form id="PaymentRecord">
    <input type="hidden" id="RP_GUID" name="RP_GUID" value="@Model.RP_GUID" />
    <input type="hidden" id="Creator" name="Creator" value="@Model.Creator" />
    <input type="hidden" id="CreateDate" name="CreateDate" value="@(Model.CreateDate.Equals(System.DateTime.MinValue) ? System.DateTime.Now : Model.CreateDate)" />
    <input type="hidden" id="RPable" name="RPable" />
    <input type="hidden" id="DebitLedgerAccount" name="DebitLedgerAccount"  value="@Model.DebitLedgerAccount" />
    <input type="hidden" id="CreditLedgerAccount" name="CreditLedgerAccount" value="@Model.CreditLedgerAccount"  />
    <input type="hidden" id="DebitDetailsAccount" name="DebitDetailsAccount"  value="@Model.DebitDetailsAccount" />
    <input type="hidden" id="CreditDetailsAccount" name="CreditDetailsAccount" value="@Model.CreditDetailsAccount"  />
    <input type="hidden" id="CFPItemGuid" name="CFPItemGuid" value="@Model.CFPItemGuid" />
    <input type="hidden" id="CFItemGuid" name="CFItemGuid" style="width:250px" value="@Model.CFItemGuid"/>
    <table id="PayablesRecord_List">
        <tr>
            <td>@FMS.Resource.Finance.Finance.Payee:</td>
            <td>
                <input id="R_Per" name="RPer" value="@Model.RPer"  />
            </td>
        </tr>
        <tr>
            <td>@FMS.Resource.Finance.Finance.Payment@FMS.Resource.Finance.Finance.Date:</td>
            <td>
                <input class="easyui-datebox" id="Date" name="Date" data-options="required:true" 
                       value="@(Model.Date.Equals(System.DateTime.MinValue) ? System.DateTime.Now.Date.ToShortDateString() : Model.Date.Date.ToShortDateString())" />
            </td>
        </tr>
        <tr>
            <td>@FMS.Resource.Finance.Finance.Payment@FMS.Resource.Finance.Finance.Amount:</td>
            <td>
                <input id="SumAmount" name="SumAmount" class="easyui-numberbox" value="@Model.SumAmount" data-options="required:true, precision:2,groupSeparator:','" />
            </td>
            <td>@FMS.Resource.Finance.Finance.Currency:</td>
            <td>
                <input id="Currency" name="Currency"  value="@Model.Currency"  />
            </td>
        </tr>
        <tr>
            <td>@FMS.Resource.Finance.Finance.PayAccount</td>
            <td>
                <input id="Bank" name="B_GUID" value="@Model.B_GUID"/>
            </td>
            <td></td>
            <td>
                <input id="BankAccount" name="BA_GUID"  value="@Model.BA_GUID"  />
            </td>
        </tr>
        <tr>
            <td>@General.Resource.Common.Remark :</td>
            <td>
                <input class="easyui-validatebox" id="Remark" name="Remark" value="@Model.Remark" />
            </td>
            <td colspan="4">
                <div>
                    <input class="easyui-validatebox" type="hidden" id="Attachment_GUID" name="Attachment_GUID" />
                    <input id="file_upload" name="file_upload" type="file" multiple="multiple" />
                    <div id="fileQueue" class="fileQueue"></div>
                    <div id="div_files"></div>
                </div>
            </td>
        </tr>
    </table>
</form>
<div id="imageview"></div>
<div id="Attachmentshow"></div>

<script type="text/javascript">
	var LedgerAccount;
	var DebitLedgerAccount = new Array();
	var CreditLedgerAccount = new Array();
	var DetailsAccount;
	var DebitCode = ['2202', '2221', '2241'];
	var CreditCode = ['1001', '1002', '1123'];
	var DebitVal;
	var CreditVal;
	var CommonCurrency;
	var StandardCoin;
	var Subject;
	var BankAccount;

	$(function () {
		$.ajax({
			url: "/InternalAPI/GetUserCurrency",
			async: false,
			dataType: "json",
			success: function (d) { CommonCurrency = d; }
		});
		$.ajax({
			url: "/InternalAPI/GetCompanySetting",
			async: false,
			dataType: "json",
			success: function (d) {
				StandardCoin = d.StandardCoin;
			}
		});

		$.ajax({
			url: "/InternalAPI/GetBankAccounts",
			async: false,
			dataType: "json",
			success: function (d) {
				var obj = new Object();
				obj.ID = "0";
				obj.Name = "现金";
				obj.children = new Array();
				d.push(obj);
				BankAccount = d;
			}
		});

		$("#R_Per").combobox({
			editable: false,
			required: true,
			url: '/InternalAPI/GetPayer',
			textField: 'Name',
			valueField: 'BP_GUID',
			panelHeight: 'auto',
			panelMaxHeight: 200
		});

		try {
			$("#Currency").combobox("destroy");
		} catch (e) {

		}
		$("#Currency").combobox({
			editable: false,
			required: true,
			data: CommonCurrency,
			onLoadSuccess: function (data) {
				if ("@Model.Currency" == "" || "@Model.Currency" == null) {
					$("#Currency").combobox("setValue", StandardCoin);
				}
			}
		});

		$("#BankAccount").combobox({
			editable: false,
			required: true,
			textField: "Name",
			valueField: "ID"
		});

		$("#Bank").combobox({
			editable: false,
			required: true,
			data: BankAccount,
			textField: "Name",
			valueField: "ID",
			onLoadSuccess: function (data) {
				$("#Bank").combobox("select", "@Model.B_GUID");
			},
			onSelect: function (rec) {
				$("#BankAccount").combobox("loadData", rec.children);
			},
			onChange: function (newV, oldV) {
				if (newV != oldV) {
					$("#BankAccount").combobox("clear");
				}
			}
		});
	    
	    //添加界面的附件管理
	    $('#PaymentRecord #file_upload').uploadify({
	        width: 120,
	        height: 20,
	        swf: '/Content/uploadify/uploadify.swf',    //FLash文件路径
	        buttonText: '上传收款凭证',               //按钮文本
	        uploader: '/PaymentClassify/Upload',       //处理文件上传Action
	        queueID: 'fileQueue',                        //队列的ID
	        queueSizeLimit: 10,                          //队列最多可上传文件数量，默认为999
	        auto: false,                                 //选择文件后是否自动上传，默认为true
	        multi: true,                                 //是否为多选，默认为true
	        removeCompleted: true,                       //是否完成后移除序列，默认为true
	        fileSizeLimit: '4MB',                        //单个文件大小，0为无限制，可接受KB,MB,GB等单位的字符串值
	        fileTypeDesc: 'Image Files',                 //文件描述
	        fileTypeExts: '*.gif; *.jpg; *.png; *.bmp;*.tif;*.doc;*.xls;*.zip',  //上传的文件后缀过滤器
	        onQueueComplete: function (event, data) {                 //所有队列完成后事件
	            //ShowUpFiles($("#Attachment_GUID").val(), "div_files");  //完成后更新已上传的文件列表
	            FileFlag = true;
	        },
	        onUploadStart: function (file) {
	            $("#PaymentRecord #file_upload").uploadify("settings", 'formData', { 'folder': '政策法规', 'guid': $("#RP_GUID").val(),
	                'ASPSESSID': "@Session.SessionID",
	                'AUTHID': "@(Request.Cookies[FormsAuthentication.FormsCookieName]==null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)"
	            }); //动态传参数
	        },
	        onUploadError: function (event, queueId, fileObj, errorObj) {
	            console.log(errorObj);
	            FileFlag = false;
	        }
	    });
	    
	});

	var LinkHandle = function (value) {
	    var link1 = " <a class='linkbtn' href='/PaymentClassify/DownLoadFile?id=" + value + "'>浏览</a> ";
	    var link2 = " <a class='linkbtn' onclick='DelClick(\"" + value + "\")'>@General.Resource.Common.Delete</a> ";
	    var link3 = " <a class='linkbtn' onclick='UpdClick(\"" + value + "\")'>修改</a> ";
	    return link1 + link2 + link3;
	};

	$(function() {
	    var id =document.getElementById("RP_GUID").value ;
	    $("#imageview").datagrid({
	        url: '/PaymentClassify/GetAttachment?id=' + id,
	        columns: [[
	            { field: 'FileName', title: '文件名' },
	            { field: 'FileRemark', title: '备注' },
	            { field: 'A_GUID', title: '操作', formatter: LinkHandle }
	        ]],
	        rownumbers: true,
	        singleSelect: true
	    });
	});

	function UpdClick(id) {
	    $("#Attachmentshow").dialog({
	        title: '附件 ',
	        collapsible: false,
	        minimizable: false,
	        width: 300,
	        height: 150,
	        buttons: [{
	            text: '@General.Resource.Common.Save',
	            handler: function () { SaveAttachment(); }
	        }]
	    });
	    $("#Attachmentshow").dialog("refresh", "/PaymentClassify/Attachment/" + id);
	}

	function SaveAttachment() {
	    $("#Attachenmtform").form('submit', {
	        url: "/PaymentClassify/UpdAttachment/",
	        onSubmit: function () { return $("#Attachenmtform").form("validate"); },
	        success: SaveAttachmentsuccessHandle
	    });
	}

	var SaveAttachmentsuccessHandle = function (data) {
	    $.messager.alert('Message', $.parseJSON(data).Msg, 'info');
	    if ($.parseJSON(data).Result) {
	        $("#Attachmentshow").dialog("close");
	        $('#imageview').datagrid("reload");
	        $('#imageview').datagrid("refresh");
	    }
	};
	
    function DelClick(id) {
        $.messager.confirm('确认', '确认删除?', function (r) {
            if (r) {
                $.ajax({
                    url: "/PaymentClassify/DelEveryAttachment/" + id,
                    type: "POST",
                    success: function (data) {
                        $.messager.alert('Message', $.parseJSON(data).Msg, 'info');
                        if ($.parseJSON(data).Result) {
                            $('#imageview').datagrid("reload");
                        }
                    },
                    error: function () {
                        $.messager.alert('Message', '@General.Resource.Common.NoResponse', 'info');
                    }
                });
            }
        });
    }

    $(document).ready(function(){
        $("#showhidden").click(function() {
            $("#inout").slideToggle("slow");
        });
    });
</script>
