@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ContentLayout_V4.cshtml";
}
<div id="toolbar">
    <div>
        <a class="easyui-linkbutton" onclick="Search()">@General.Resource.Common.Search</a>
        @*<a class="easyui-linkbutton" onclick="Export()">数据导出</a>*@
    </div>
    <div>
        <form id="conditionForm">
        <table>
            <tr>
                <td>
                    购入日期:
                </td>
                <td>
                    <input class="easyui-datebox" id="conDateBegin" name="dateBegin" data-options="width:100,panelHeight:'auto'" />-<input
                        class="easyui-datebox" id="conDateEnd" name="dateEnd" data-options="width:100,panelHeight:'auto'" />
                </td>
            </tr>
            <tr>
                <td>
                    供 应 商:
                </td>
                <td>
                    <input class="easyui-combobox" id="conCustomer" name="customer" data-options="width:207,panelHeight:'auto',url:'/InternalAPI/GetPayee',textField:'Name',valueField:'BP_GUID'" />
                </td>
            </tr>
            <tr>
                <td>
                    状&nbsp;&nbsp;&nbsp;&nbsp;态:
                </td>
                <td>
                    <select class="easyui-combobox" id="conFlag" name="state" data-options="width:207,panelHeight:'auto'">
                        <option value=""></option>
                        <option value="存货">存货</option>
                        <option value="用完">用完</option>
                        <option value="转售">转售</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    收入类别:
                </td>
                <td>
                    <select class="easyui-combobox" id="conIncomeGrp" name="grp" data-options="width:207,panelHeight:'auto'">
                        <option value=""></option>
                        <option value="类型一">类型一</option>
                        <option value="类型二">类型二</option>
                    </select>
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
<table id="DirectMaterialPurchasing_List">
</table>
<script language="javascript" type="text/javascript">
    var LinkHandle = function (value, row, index) {
        var link1 = " <a class='linkbtn' onclick='EditClick(\"" + value + "\")'>编辑</a> ";
        var link2;
        if (row.State == "存货") {
            link2 = " <a class='linkbtn' onclick='UsedClick(\"" + index + "\")'>使用</a> ";
        } else if (row.State == "用完") {
            link2 = "已使用";
        } else {
            link2 = "不可使用";
        }
        var link3;
        if (row.State == "存货") {
            link3 = " <a class='linkbtn' onclick='ResaleClick(\"" + index + "\")'>转售</a> ";
        } else if (row.State == "用完") {
            link3 = "不可转售";
        } else {
            link3 = "已转售";
        }
        var link4 = " <a class='linkbtn' onclick='DelClick(\"" + value + "\")'>删除</a> ";
        return link1 + link2 + link3 + link4;
    };

    var DateHandle = function (value, row, index) {
        if (value == "/Date(-62135596800000)/") {
            return "";
        } else {
            return ChangeDateFormat(value);
        }
    };
    var FJHandle = function (value, row, index) {
        if (value == "" || value == null) {
            return "";
        } else {
            var v = "../Content/EasyUI/themes/icons/hxz.png";
            //return '<img style=\"height: 100px;width: 100px;\" src=\""+v+"\"/>';
            return '<img style="height: 16px;width: 16px;" src="' + v + '" />';
        }
    };

    $(function () {
        $("#DirectMaterialPurchasing_List").datagrid({
            onLoadSuccess: compute,
            checkOnSelect: false,
            selectOnCheck: false,
            singleSelect: true,
            url: '/DirectMaterialPurchasingQuery/GetDirectMaterialPurchasingList',
            columns: [[
				{ field: 'Date', title: '购入日期', formatter: DateHandle, remoteSort: true },
				{ field: 'Amount', title: '金额', align: 'right', formatter: DecimalFmter },
				{ field: 'Currency', title: '货币' },
				{ field: 'RPerName', title: '供应商' },
                { field: 'InvType', title: '物料类别' },
                { field: 'A_GUID', title: '附件', align: 'center', formatter: FJHandle },
                { field: "State", title: "@General.Resource.Common.Flag" },
				{ field: 'Remark', title: '@General.Resource.Common.Remark ' },
				{ field: 'GUID', title: '', formatter: LinkHandle }
			]],
            pagination: true,
            rownumbers: true,
            toolbar: "#toolbar"
        });
    });

    function InitDialog() {
        $("#DirectMaterialPurchasing_List").after('<div id="WinIR"></div>');
        $("#WinIR").dialog({
            title: ' ',
            collapsible: false,
            minimizable: false,
            width: 800,
            height: 350,
            onClose: function () { $("#WinIR").dialog("destroy"); },
            buttons: [{
                text: '@General.Resource.Common.Save',
                handler: function () { SubmitForm(); }
            }]
        });
    }
    function InitDialogE() {
        $("#DirectMaterialPurchasing_List").after('<div id="WinER"></div>');
        $("#WinER").dialog({
            title: '记录营业成本',
            collapsible: false,
            minimizable: false,
            width: 800,
            height: 350,
            onClose: function () { $("#WinER").dialog("destroy"); },
            buttons: [{
                text: '@General.Resource.Common.Save',
                handler: function () { ESubmitForm(); }
            }]
        });
    }

    function InitDialogI() {
        $("#DirectMaterialPurchasing_List").after('<div id="WinR"></div>');
        $("#WinR").dialog({
            title: '记录营业外收入',
            collapsible: false,
            minimizable: false,
            width: 800,
            height: 350,
            onClose: function () { $("#WinR").dialog("destroy"); },
            buttons: [{
                text: '@General.Resource.Common.Save',
                handler: function () { ISubmitForm(); }
            }]
        });
    }

    function EditClick(id) {
        InitDialog();
        $('#WinIR').dialog("refresh", "/DirectMaterialPurchasingQuery/DirectMaterialPurchasingRecord/" + id);
    }

    function UsedClick(index) {
        $("#DirectMaterialPurchasing_List").datagrid('selectRow', index);
        var row = $("#DirectMaterialPurchasing_List").datagrid('getSelected');
        InitDialogE();
        $('#WinER').dialog("refresh", "/DirectMaterialPurchasingQuery/ExpenseRecord?id=" + row.GUID + "&date=" + ChangeDateFormat(row.Date) + "&amount=" + row.Amount + "&rper=" + row.RPer + "&currency=" + row.Currency);
    }

    function ResaleClick(index) {
        $("#DirectMaterialPurchasing_List").datagrid('selectRow', index);
        var row = $("#DirectMaterialPurchasing_List").datagrid('getSelected');
        InitDialogI();
        $('#WinR').dialog("refresh", "/DirectMaterialPurchasingQuery/IncomeRecord?id=" + row.GUID + "&date=" + ChangeDateFormat(row.Date) + "&amount=" + row.Amount + "&rper=" + row.RPer + "&currency=" + row.Currency);
    }

    function DelClick(id) {
        $.messager.confirm('确认', '确认删除?', function (r) {
            if (r) {
                $.ajax({
                    url: "/DirectMaterialPurchasingQuery/DelDirectMaterialPurchasingRecord/" + id,
                    type: "POST",
                    success: function (data) {
                        $.messager.alert('Message', $.parseJSON(data).Msg, 'info');
                        if ($.parseJSON(data).Result) {
                            $('#DirectMaterialPurchasing_List').datagrid("reload");
                        }
                    },
                    error: function () {
                        $.messager.alert('Message', '@General.Resource.Common.NoResponse', 'info');
                    }
                });
            }
        });
    }

    function SubmitForm() {
        $("#IMP_Form").form('submit', {
            url: "/DirectMaterialPurchasingQuery/UpdDirectMaterialPurchasingRecord",
            onSubmit: function () {
                if ($("#IMP_Form").form("validate")) {
                    $('#file_upload').uploadify('upload', '*');
                }
            },
            success: function (data) {
                $.messager.alert('Message', $.parseJSON(data).Msg, 'info', function () {
                    $("#DirectMaterialPurchasing_List").datagrid("reload");
                });
                if ($.parseJSON(data).Result) {
                    $('#WinIR').dialog("close");
                }
            }
        });
    }
    function ESubmitForm() {
        var row = $("#DirectMaterialPurchasing_List").datagrid('getSelected');
        $("#Expense_Form").form('submit', {
            url: "/ExpenseRecord/UpdExpenseRecord",
            onSubmit: function () {
                if ($("#Expense_Form").form("validate")) {
                    $('#file_upload').uploadify('upload', '*');
                }
                return $("#Income_Form").form("validate");
            },
            success: function (data) {
                $.messager.alert('Message', $.parseJSON(data).Msg, 'info', function () {
                    $.ajax({
                        url: "/DirectMaterialPurchasingQuery/UpdDirectMaterialPurchasingRecordState?id=" + row.GUID + "&state=用完",
                        type: "POST",
                        success: function (data) {
                            if ($.parseJSON(data).Result) {
                                $('#DirectMaterialPurchasing_List').datagrid("reload");
                            }
                        }
                    });
                });
                if ($.parseJSON(data).Result) {
                    $('#WinER').dialog("close");
                }
            }
        });
    }

    function ISubmitForm() {
        var row = $("#DirectMaterialPurchasing_List").datagrid('getSelected');
        $("#Income_Form").form('submit', {
            url: "/IncomeRecord/UpdIncomeRecord",
            onSubmit: function () {
                if ($("#Income_Form").form("validate")) {
                    $('#file_upload').uploadify('upload', '*');
                }
                return $("#Income_Form").form("validate");
            },
            success: function (data) {
                $.messager.alert('Message', $.parseJSON(data).Msg, 'info', function () {
                    $.ajax({
                        url: "/DirectMaterialPurchasingQuery/UpdDirectMaterialPurchasingRecordState?id=" + row.GUID + "&state=转售",
                        type: "POST",
                        success: function (data) {
                            if ($.parseJSON(data).Result) {
                                $('#DirectMaterialPurchasing_List').datagrid("reload");
                            }
                        }
                    });
                });
                if ($.parseJSON(data).Result) {
                    $('#WinR').dialog("close");
                }
            }
        });
    }
    function Search() {
        $("#DirectMaterialPurchasing_List").datagrid("load", $("#conditionForm").serializeObject());
    }

    function Export() {
        $("#conditionForm").form("submit", { url: '/IncomeQuery/ExportXls' });
    }

    function compute() {
        var rows = $('#DirectMaterialPurchasing_List').datagrid('getRows')//获取当前的数据行
        var totalsumamount = 0;
        for (var i = 0; i < rows.length; i++) {
            totalsumamount += rows[i]['Amount'];
        }
        var p = $('#DirectMaterialPurchasing_List').datagrid('getPager');
        $(p).pagination({
            displayMsg: '当前' + rows.length + '条记录总金额为{ ' + Money(totalsumamount) + ' }'
        });
    }
    function Money(price) {
        if (price > 0) { var priceString = price.toString(); var priceInt = parseInt(price); var len = priceInt.toString().length; var num = len / 3; var remainder = len % 3; var priceStr = ''; for (var i = 1; i <= len; i++) { priceStr += priceString.charAt(i - 1); if (i == (remainder) && len > remainder) priceStr += ','; if ((i - remainder) % 3 == 0 && i < len && i > remainder) priceStr += ','; } if (priceString.indexOf('.') < 0) { priceStr = priceStr + '.00'; } else { priceStr += priceString.substr(priceString.indexOf('.')); if (priceString.length - priceString.indexOf('.') - 1 < 2) { priceStr = priceStr + '0'; } } return priceStr; } else { return price; }
    }
</script>
